/bin/

/Libs/

/.settings/

/.classpath
.svn/

/Reports/

/Settings/internal/com.kms.katalon.composer.testcase.properties
/Settings/internal/com.kms.katalon.composer.testcase.settings.properties

# Compiled class file
*.class

# Log file
*.log